/*Author: Luis David Jimenez Martinez*/
@media (max-width:1250px) {
    .card p{
      display: block;
      width: 90%;
      margin: 0px auto;
      text-align: center;
    }

    .main-contain .main-email{
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
  }

  }
  @media (max-width: 1080px) {

    .card .category{
      font-size: 17px;
    }
    .card .description{
      font-size: 14px;
    }
    .projects .info-main-project{
      margin-left: 5%;
      margin-right: 20%;
    }
    .projects .left .info-main-project{
        margin-left: 20%;
        margin-right: 5%;
    }
    .projects .right img{
      margin-left: -30px;
    }

  }
  @media (max-width: 970px) {
    .projects .left img{
      margin-left: -20px;
    }
  }
  @media (max-width: 925px) {
    .projects .right img{
      margin-left: -70px;
    }
  }
  @media (max-width: 899px) {
    .main-contain .main-email{
      width: 40%;
      margin-left: 30%;
      margin-right: 30%;
    }
    
    .card{
      height: auto;
    }
    .card .category{
      font-size: 15px;
    }
    .about-me .yo{
      float: none;
      text-align: center;
      margin: auto;
    }
    .about-me .information p{
      padding-left: 5%;
      margin-bottom: 20px;
   }
    .about-me .acerca{
      text-align: center;
    }
    .contact-section{
      width: 70%;
    }
    .projects .left .info-main-project,
    .projects .right .info-main-project{
        margin-left: 20%;
        margin-right: 20%;
        text-align: center;
    }
    .projects .left,
    .projects .right{
      float: none;
    }
    .projects .img-project{
      width: 100%;
      padding-top: 50px;
      padding-bottom: 15px;
    }
    .projects .img-project img{
      margin: auto;
      transition: all 1000ms;
    }
    .projects .img-project:hover img{
      margin: auto;
    }
    .projects .info-project{
      width: 100%;
      padding-top: 15px;
      padding-bottom: 50px;
    }
    .projects .img-project:first-child{
      padding-top: 20px;
    }
    .projects{
      height: auto;
    }
    #up-button{
      width: 50px;
      height: 50px;
    }
  }
  @media (max-width: 799px) {
    .options{
      display: none;
      position: absolute;
      background: var(--primary);
      top: 80px;
      width: 100%;
      text-align: center;
      /*display: inline; js*/
    }
    
    .options-toggle{
      display: inline;
    }
    
    .options ul li{
      display: block;
      padding: 20px 0;
      border-top: 1px solid var(--primary-back);
   }
    .menu{
      display: inline;
   }

   #up-button{
    display: none;
}
  }
  @media (max-width: 724px){
    #contact-form .grid-form{

      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 2fr;
    }
    .grid-form .form-message{
      grid-column: 1 / 2;	
    }

  }
  @media (max-width: 660px){
    .main-contain .main-email{
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
    }
  }
  @media (max-width: 570px){
    .main-contain .main-email{
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }
    
    .about-me .yo{
      width: 250px;
   }
    .about-me .yo img{
      width: 250px;
    }
    .projects .left .info-main-project,
    .projects .right .info-main-project{
        margin-left: 5%;
        margin-right: 5%;
    }
    .projects .img-project img{
      height: 200px;
      width: auto;
  }

}
  