/*Author: Luis David Jimenez Martinez*/
@media (max-width:1250px) {
    .card p{
      display: block;
      width: 90%;
      margin: 0px auto;
      text-align: center;
    }
  }
  @media (max-width: 1080px) {

    .card .category{
      font-size: 17px;
    }
    .card .description{
      font-size: 14px;
    }
    .projects .info-main-project{
      margin-left: 5%;
      margin-right: 20%;
    }
    .projects .left .info-main-project{
        margin-left: 20%;
        margin-right: 5%;
    }
  }
  @media (max-width: 970px) {

  }
  @media (max-width: 925px) {
   
  }
  @media (max-width: 899px) {
    .card{
      height: auto;
    }
    .card .category{
      font-size: 15px;
    }
    .about-me .yo{
      float: none;
      text-align: center;
      margin: auto;
    }
    .about-me .information p{
      padding-left: 5%;
      margin-bottom: 20px;
   }
    .about-me .acerca{
      text-align: center;
    }
    .contact-section{
      width: 70%;
    }
    .projects .left .info-main-project,
    .projects .right .info-main-project{
        margin-left: 20%;
        margin-right: 20%;
        text-align: center;
    }
    .projects .left,
    .projects .right{
      float: none;
    }
    .projects .img-project{
      width: 100%;
      padding-top: 50px;
      padding-bottom: 15px;
    }
    .projects .info-project{
      width: 100%;
      padding-top: 15px;
      padding-bottom: 50px;
    }
    .projects .img-project:first-child{
      padding-top: 20px;
    }
    .projects{
      height: auto;
    }
  }
  @media (max-width: 799px) {
    .options{
      display: none;
      position: absolute;
      background: var(--primary);
      top: 80px;
      width: 100%;
      text-align: center;
      /*display: inline; js*/
    }
    .options ul li{
      display: block;
      padding: 20px 0;
      border-top: 1px solid var(--primary-back);
   }
    .menu{
      display: inline;
   }
  }
  @media (max-width: 724px){
    #contact-form .grid-form{

      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 2fr;
    }
    .grid-form .form-message{
      grid-column: 1 / 2;	
    }

  }
  @media (max-width: 660px){

  }
  @media (max-width: 570px){
    .about-me .yo{
      width: 250px;
   }
    .about-me .yo img{
      width: 250px;
    }
    .projects .left .info-main-project,
    .projects .right .info-main-project{
        margin-left: 5%;
        margin-right: 5%;
    }
    .projects .img-project img{
      width: 300px;
      height: auto;
  }
  }
  