:root{
    /*--blue: #007bff;
    --indigo: #6610f2;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #6c757d;
    --gray-dark: #343a40;*/

    --primary-second: #8A6EFF;
    --primary: #5b43d6;
    --secondary: #ffcb05;
    --secondary-back: #c7ad1d;
    --primary-back: #522a93;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffcb05;
    --danger: #dc3545;
    --dark: #333743;
}
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.clearfix{
    clear: both;
}
.no-display{
    display: none;
}

/* Header section */
.header{
    width: 100%;
    display: flex;
    background: var(--primary);
    color: white;
    height: 80px;
    border-bottom: 1px solid var(--primary);
    position: fixed;
    transition: all 500ms ease;
}
a{
    text-decoration: none;
    color: white;
}
.header .logo{
    display: flex;
    margin: auto;
    font-size: 25px;
}

.header .logo img{
    width: 40px;
    height: 40px;
    padding-right: 15px;
}

.options{
    margin: auto;
}

 .options ul, .options2 ul, .contact ul{
     list-style: none;
 }
 .options ul li{
    display: inline-block;
 }
 .options ul li a{
    margin: 15px 15px 7px 7px;
    padding-bottom: 6px;
    border-bottom: rgba(0,0,0,0) 2px solid;
    transition: all 300ms ease;
 }
 .options ul li a:hover{
    color: var(--secondary);
    border-bottom: var(--secondary) 2px solid; 
 }
.menu{
    margin: auto;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid var(--primary-back);
    border-radius: 5px;
    display: none;
 }

.menu:hover{
    cursor: pointer;
    background: var(--secondary);
}
.menu img{
    width: 34px;
    height: 34px;
    margin: 3px auto;
}

.main{
    width: 100%;
 }
.main {
    background: white;
 }

 /* Banner section */
 .banner-main{
    overflow: hidden;
 }
 .banner{
    width: 200%;
    height: 90vh;
    border-radius: 0 0 50% 50%;
    margin-left: -50%;
    background: linear-gradient(var(--primary) 60%, var(--primary-back) );
    /*animation-name: backBanner;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;*/
}
/*@keyframes backBanner {
    0%{
        border-radius: 0 0 50% 50%;
      }
    33%{
        border-radius: 0 0 60% 40%;
      }
      66%{
        border-radius: 0 0 40% 60%;
      }
      100%{
        border-radius: 0 0 50% 50%;
      }
  }*/
.main-contain{
    width: 100%;
    margin-top: -60vh;
    margin-bottom: 35vh;
    text-align: center;
}
.img-front img{
    height: 150px;
    width: 150px;
}
.main-contain .main-email{
    width: 20%;
    height: 50px;
    background: var(--primary-back);
    color: white;
    border-radius: 50px;
    border: 1px solid var(--primary-second);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transform: scale(0);
    transition: all 700ms ease;
}

/* Skills section */
.main .my-abilities{
    margin: 60px auto;
    padding-top: 10vh;
    width: 50%;
}
.main .my-abilities h3{
    text-align: center;
    font-size: 30px;
    color: black;
}
.cards{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    width: 17%;
    min-width: 200px;
    height: 305px;
    margin: 10px;
    border: 2px solid var(--primary-back);
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(var(--primary) 30%, var(--primary-back) );
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-top: 10px;
    padding: 25px;
    transition: all 300ms;
  }
  .card:hover{
    background: linear-gradient(var(--primary), var(--primary-back), var(--primary));
  }

  .card .icon{
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 22px;
    transition: all 300ms;
  }
  .card:hover .icon{
    animation: showIcon 300ms linear;
  }
  @keyframes showIcon {
    from{
      transform: translateY(-200%);
    }
    to{
      transform: translateY(0%);
    }
  }
  .card .category{
    width: 100%;
    height: 50px; 
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: white;
    transition: all 300ms;
  }
  .card:hover .category{
    color: white;
    animation: showCategory 400ms linear;
  }
  @keyframes showCategory {
    from{
      transform: translateY(-200%);
      color: black;
    }
    to{
      transform: translateY(0%);
      color: white;
    }
  }
  .card .level{
    margin-top: 30px;
  }
  .card .level span{
    color: var(--success);
  }
  .card .description{
    text-align: center;
    color: white;
    font-size: 15px;
    transition: all 300ms;
  }
  .card:hover .description{
    color: white;
    animation: showDescription 400ms linear;
  }
  @keyframes showDescription {
    from{
      transform: translateX(-300%);
      color: black;
    }
    to{
      transform: translateX(0%);
      color: white;
    }
  }

.main .more-abilities{
    text-align: center;
    margin: 60px auto;
    width: 100%;
}
.main .more-abilities a{
    color: black;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    border: 1px solid var(--secondary-back);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    background: var(--secondary);

}
.main .more-abilities a:hover{
    background: var(--secondary-back);
}

/* About me section */
.about-me{
    width: 73%;
    padding: 20px;
    margin: 50px auto;
    border: 2px solid var(--primary-back);
    border-radius: 10px;
    background: linear-gradient(var(--primary) 30%, var(--primary-back) );
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: white;
}
.about-me:hover{
    background: linear-gradient(var(--primary), var(--primary-back), var(--primary));
}
.about-me .yo{
   float: left;
   margin: auto;
   margin-right: 30px;
   margin-bottom: 10px;
   height: 300px;
   width: 300px;
   overflow: hidden;
}
.about-me .yo img{
    margin-top: -60px;
    width: 300px;
    height: auto;
   border-radius: 10px;
}

.about-me .acerca{
   font-size: 30px;
   margin-top: 10px;
   margin-bottom: 20px;
}

.about-me .more{
   padding-top: 20px;
   padding-bottom: 30px;
}

.about-me .information p{
   padding-right: 5%;
   margin-bottom: 20px;
   line-height: 25px;
   text-align: justify;
}

/* Proyects section */
.main .my-experience h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 30px;
    color: black;
}
.projects{
    width: 100%;
    height: 400px;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
}
.last{
    border-bottom: none;
}
.projects .img-project{
    width: 50%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.projects .img-project img{
    height: 300px;
    width: auto;
    transition: all 700ms;
}
.projects .img-project:hover img{
    margin-top: -40px;
}
.projects .info-project{
    width: 50%;
    padding-top: 80px;
    padding-bottom: 95px;
}
.projects .left{
    float: left;
}
.projects .right{
    float: right;
}
.projects .info-main-project{
    margin-left: 10%;
    margin-right: 30%;
}
.projects .left .info-main-project{
    margin-left: 30%;
    margin-right: 10%;
}
.info-main-project h3{
    font-size: 30px;
    margin-bottom: 30px;
}
.info-main-project p{
    color: gray;
}
.info-main-project h3 span{
    font-size: 13px;
    padding: 2px 8px;
    background: var(--success);
    border-radius: 10px;
    color: white;
}
.info-main-project .more-project{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    margin-top: 30px;
}
.info-main-project a{
    padding: 15px 30px 15px 30px;
    margin-right: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.info-main-project a:first-child{
    color: white;
    border: 1px solid var(--secondary-second);
    background: var(--primary);
}
.info-main-project a:first-child:hover{
    background: var(--primary-back);
}
.info-main-project a:last-child{
    color: var(--primary);
    border: 1px solid var(--primary);
    background: white;
}
.info-main-project a:last-child:hover{
    background: var(--primary-back);
    color: white;
}

.main .more-exp{
    text-align: center;
    margin: 60px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}
.main .more-exp a{
    color: black;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    border: 1px solid var(--secondary-back);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    background: var(--secondary);

}
.main .more-exp a:hover{
    background: var(--secondary-back);
}
/* Button up section */
#up-button{
    background: var(--primary);
    border-radius: 50px;
    border: 1px solid var(--primary-back);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 80px;
    right: 30px;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;
    transform: scale(0);
    transition: all 300ms ease;
}
#up-button img{
    width: 50%;
    height: auto;
}
#up-button:hover{
    transform: scale(1.1);
}

/* Footer section */
.contact{
    background: var(--primary);
    padding: 40px 0;
}
.contact-section{
    background: white;
    width: 50%;
    margin: auto;
    padding: 40px;
    border: 2px solid var(--primary-back);
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.contact .contact-title h2{
    font-size: 30px;
    text-align: center;
    padding-bottom: 35px;
}
#contact-form .grid-form{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 20px;
}
.grid-form input,
#contact-form textarea {
    width: 100%;
    height: 20px;
    padding: .7em;
	padding-right: 0;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;								
    outline: 0;
    color: black;							
}
#contact-form textarea {
    height: 90px;
}
.grid-form label{
    color: gray;							
}
.grid-form .form-message{
    grid-column: 1 / 3;	
    height: auto;
}

.form-submit{
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-submit button{
    color: black;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    border: 1px solid var(--secondary-back);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    background: var(--secondary);
}
.form-submit button:hover{
    background: var(--secondary-back);
    cursor: pointer;
}

/* Footer section */
.footer{
    border-top: var(--primary-back);
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--primary);
    color: white;
    border-top: 1px solid var(--primary-back);
}
.footer .copy{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}