.banner{
    height: 40vh;
    animation: none;
}
.main .my-abilities{
    padding-top: 0;
}
.main .my-abilities h3{
    margin-top: -27vh;
    margin-bottom: 17vh;
}
.main .sub-skills,
.main .sub-skills-first{
  text-align: center;
  font-size: 21px;
}
.main .sub-skills-first h3{
    margin-top: 20vh;
}
.main .sub-skills h3{
  margin-top: 40px;
}
.cards{
  padding-top: 50px;
}
.card{
    width: 10%;
    min-width: 100px;
    height: auto;
  }
.card .level {
    margin-top: 10px;
}
.card .icon{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.main .certification-title h3{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 80px;
    font-size: 30px;
    color: black;
}

#certifications{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 100%;
  }
  .certification{
    cursor: pointer;
    flex-basis: 320px;
    flex-grow: 1;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid gray;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: all 300ms;
  }
  .certification:hover{
    background: var(--primary);
  }
  .certification:hover .diploma-title{
    color: white;
  }
  .certification:hover .diploma-school{
    color: var(--primary-second);
  }
  .certification img{
    width: 100%;
  }
  .certification-info{
    text-align: center;
    padding: 20px;
    border-top: 1px solid gray;
  }
  .certification-info .diploma-title{
    font-size: 20px;
    color: black;
    transition: all 300ms;
  }
  .certification-info .diploma-school{
    color: var(--primary);
    margin-top: 10px;
  }

  .note{
    color: gray;
    padding-left: 20px;
    padding-bottom: 25px;
  }

  /* Popup diploma section*/
  .diploma{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    transform: scale(0);
    display: none;
    transition: all 1000ms ease;
  }
  .img-diploma{
    width: 800px;
  }
  .img-diploma img{
    width: 100%;
    height: auto;
  }
  .img-diploma p{
    
    padding-right: 15px;
    position: absolute;
    color: white;
    font-size: 40px;
    padding-left: 15px;
    padding-bottom: 9px;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in;
  }
  .img-diploma p:hover{
    background: rgba(255,255,255,.8);
    color: black;
  }

